.cm-line {
    line-height: 1.5;
}

.cm-s-obsidian .cm-line.HyperMD-header.HyperMD-header-1 {
    padding-bottom: 0.75rem;
}

.cm-s-obsidian .cm-line.HyperMD-header.HyperMD-header-2 {
    padding-bottom: 0.5rem;
}

.cm-s-obsidian .cm-line.HyperMD-header.HyperMD-header-3 {
    padding-bottom: 0.25rem;
}

.cm-s-obsidian .cm-line.HyperMD-header.HyperMD-header-4 {
    padding-bottom: 0.25rem;
}

.cm-line:has(+ .cm-embed-block.cm-table-widget) br {
    display: none;
}